hasa-datafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "hasa-datafactory"
		},
		"hasaDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hasaDB'"
		},
		"NetfondsBS_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "ticker"
		},
		"NetfondsBS_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "raw/netfonds"
		},
		"OsloBorsBlob_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "OsloBors5ar.csv"
		},
		"OsloBorsBlob_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "raw"
		},
		"Netfonds_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.netfonds.no/quotes/paperhistory.php?paper=EQNR.OSE&csv_format=csv"
		},
		"Netfonds_tickers_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.netfonds.no/quotes/kurs.php?exchange=OSE&sec_types=&sectors=&ticks=&table=tab&sort=alphabetic"
		},
		"Oslo_bors_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.oslobors.no/ob/servlets/excel?type=history&columns=DATE%2C+CLOSE%2C+HIGH%2C+LOW%2C+TURNOVER_TOTAL&format[DATE]=ddd.mm.YY&format[CLOSE]=%23%2C%23%230.00%23%23%23&format[BID]=%23%2C%23%230.00%23%23&format[ASK]=%23%2C%23%230.00%23%23&format[HIGH]=%23%2C%23%230.00%23%23%23&format[LOW]=%23%2C%23%230.00%23%23%23&format[TURNOVER_TOTAL]=%23%2C%23%230.00%23%23%23&header[DATE]=OSEBX&header[CLOSE]=Siste&header[BID]=Kj%C3%B8per&header[ASK]=Selger&header[HIGH]=H%C3%B8y&header[LOW]=Lav&header[TURNOVER_TOTAL]=Offisielt%20omsatt%20%28NOK%29&view=DELAYED&source=feed.ob.index.INDICES_SHARES&filter=ITEM_SECTOR%3D%3DsOSEBX.OSE%26%26DELETED!%3Dn1&stop=now&start=1392505200000&space=DAY&ascending=true&filename=data.xlsx"
		},
		"hasaBS_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://hasastg.blob.core.windows.net"
		},
		"hasaKV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://hasaKeyVault.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Netfonds')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Netfonds to blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Netfonds_tickers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NetfondsBS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy blob to staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Netfonds to blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "NetfondsBS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NetfondsDBstaging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Netfonds_tickers')]",
				"[concat(variables('factoryId'), '/datasets/NetfondsBS')]",
				"[concat(variables('factoryId'), '/datasets/NetfondsDBstaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OSEBX')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data to database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "OsloBorsBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "OsloBorsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OsloBorsBlob')]",
				"[concat(variables('factoryId'), '/datasets/OsloBorsDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Netfonds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Netfonds",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "HttpFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"requestMethod": "Get"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Netfonds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NetfondsBS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hasaBS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('NetfondsBS_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('NetfondsBS_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hasaBS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NetfondsDBstaging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hasaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "paper",
						"type": "String"
					},
					{
						"name": "last",
						"type": "String"
					},
					{
						"name": "bid",
						"type": "String"
					},
					{
						"name": "offer",
						"type": "String"
					},
					{
						"name": "change",
						"type": "String"
					},
					{
						"name": "open",
						"type": "String"
					},
					{
						"name": "low",
						"type": "String"
					},
					{
						"name": "high",
						"type": "String"
					},
					{
						"name": "prev_price",
						"type": "String"
					},
					{
						"name": "volume",
						"type": "String"
					},
					{
						"name": "bid_depth_total",
						"type": "String"
					},
					{
						"name": "offer_depth_total",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'hasa].[netfonds]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hasaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Netfonds_tickers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Netfonds_tickers",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "HttpFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"requestMethod": "Get"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Netfonds_tickers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OsloBorsBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hasaBS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "OSEBX",
						"type": "String"
					},
					{
						"name": "Siste",
						"type": "String"
					},
					{
						"name": "Høy",
						"type": "String"
					},
					{
						"name": "Lav",
						"type": "String"
					},
					{
						"name": "Offisielt omsatt (NOK)",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ";",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('OsloBorsBlob_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('OsloBorsBlob_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hasaBS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OsloBorsDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hasaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "OSEBX",
						"type": "String"
					},
					{
						"name": "siste",
						"type": "Decimal"
					},
					{
						"name": "lav",
						"type": "Decimal"
					},
					{
						"name": "høy",
						"type": "Decimal"
					},
					{
						"name": "omsetning",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'hasa].[obx]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hasaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OsloBorsWeb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oslo_bors",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "HttpFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"requestMethod": "Get"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oslo_bors')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Netfonds')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Netfonds_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Netfonds_tickers')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Netfonds_tickers_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oslo_bors')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Oslo_bors_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hasaBS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('hasaBS_properties_typeProperties_serviceEndpoint')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hasaDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('hasaDB_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "hasaKV",
							"type": "LinkedServiceReference"
						},
						"secretName": "sqlserverpasswd"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hasaKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hasaKV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('hasaKV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		}
	]
}